{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">A database management system UI</h1>
            <p class="lead">Implementing all functionality provided by the API</p>
            <ul class="list-unstyled">
                <li>database editing actions</li>
                <li>table editing actions</li>
                <li>table joining operation</li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
